%h1 Новая почта



= form_for @email do |f|


  %p= f.text_field :email, placeholder: 'Почта', onkeyup: false
  %p= f.text_field :frequency, placeholder: 'Периодичность рассылки',onkeyup: false
  %p= f.submit 'Добавить!'

